<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="bqplot examples">
  <meta name="author" content="bqplot contributors">
  <title>bqplot Gallery</title>
  <link rel="stylesheet" href="vendor/bootstrap-4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/style.css">

  <script src="vendor/jquery-3.4.1.slim.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body>
  <header>
  </header>

  <main role="main">
    <div class="content-fluid bqplot-blue">
      <div class="container">
        <div>
          <img src="bqplot-logo.svg" style="margin: 40px auto 40px auto; max-width: 400px; display: block;"/>
          <h3 style="text-align: center">A gallery of bqplot dashboards</h3>
          <h6 style="text-align: center">Powered by
            <a href="https://github.com/voila-dashboards/voila">Voilà</a>,
            <a href="https://github.com/bqplot/bqplot">bqplot</a> and
            <a href="https://binderhub.readthedocs.io">BinderHub</a>
          </h6>
        </div>
      </div>
    </div>

    <div class="content-fluid bqplot-white">
      <div class="container">
        {{ content }}
      </div>
    </div>
  </main>

  <script src="vendor/bootstrap-4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
